
 .DIALOGUE {
    overflow: hidden;
    top: 5%;
    padding-bottom: 5.25%;
    position: center;
    height: 0;
     
  }
  
  .DIALOGUE iframe {
    position: center;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 50%;
}
p {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  color: rgb(218, 32, 32)
}
