/*
 .DIALOGUE {
    overflow: hidden;
    top: 5%;
    padding-bottom: 5.25%;
    position: center;
    height: 0;
     
  }
  
  .DIALOGUE iframe {
    position: center;
    top: 5%;
    left: 25%;
    width: 50%;
    height: 50%;
}
p {
  text-align: center;
  font-size: 30px;
  margin-top: 0px;
  color: rgb(218, 32, 32)
}

.container2 {
  position: absolute;
  width: 50%;
  overflow: hidden;
  padding-top: 50%;  
}

.responsive-iframe {
  position: center;
  top: 50;
  left: 0;
  bottom: 50;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}*/

.videoWrapper {
	position: relative;
	padding-bottom: 51.44%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.box1 {
       float:left;
       width: 400px
}